<!DOCTYPE html>
<html ng-app>
<head>
	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

	<div class="container" ng-controller="AppCtrl">
	<br>
	<button type="button" class="btn btn-info btn-lg pull-left" data-toggle="modal" data-target="#userDetailModal">User detail</button>
	
			 <!-- Modal -->
		  <div class="modal fade" id="userDetailModal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">User Details</h4>
		        </div>
		        <div class="modal-body">
		          <form action="/current-user" method="get">
		          Manager id: {{user._id}}<br>
		          Brand id:   {{user.access.brands_id}}<br>
		          Access Permission: {{user.access.has_access}}<br>
		          username: {{user.username}}<br>
		          </form>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
		  </div>
	<br>
	<form action="/details" method="get">
	<table class="table">
				<thead>
					<tr>
						<th>User Name</th>
						<th>Rating</th>
						<th>Responded date</th>
					</tr>
				</thead>
				<tbody>
							
					<tr ng-repeat="details of validuser">
						<td>{{details.user_name}}</td>
						<td>{{details.rating}}</td>
						<td>{{details.created_date}}</td>

					</tr>
				</tbody>
		</table>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="controllers/details.js"></script>
</body>
</html>