<html ng-app>
<head>
	<title>API</title>

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>  
  	<div class="container" ng-controller="AppCtrl">
  		<button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#loginModal">Login</button> 
  
  	<div class="modal fade" id="loginModal" role="dialog">
	    <div class="modal-dialog"> 
	    
	      <!-- Modal content--> 
	      <div class="modal-content">
		        <div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal">&times;</button>
		          	<h4 class="modal-title">Login</h4>
		       	</div>
	       		 	<div class="modal-body">
	       					 <form onsubmit="doLogin()" >
								<div class="form-group">
									<label for="UserName">Username</label>
									<input class="form-control" placeholder="Your Username" name="username"  ng-required="true" id="username">
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" placeholder="Your Password" name="password"  ng-required="true" id="password">		
								</div>
									        
								 <div class="modal-footer">
						        		<button class="btn btn-primary" type="submit">Login</button>						
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
				 			 </form>
	     		 </div>
      
   		 </div>
  </div>
  </div>					
	<br>		
		<div class="modal fade" id="adduserModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
          				<button type="button" class="close" data-dismiss="modal">&times;</button>
          				<h4 class="modal-title">Adding New User</h4>
       				

						<div class="modal-body">
							<form name="frm">
								<div class="form-group">
									<label for="userName">Name</label>
									<input class="form-control" placeholder="Enter Name" ng-model="user.name" ng-required="true">
								</div>

								<div class="form-group">
									<label for="userEmail">Email</label>
									<input class="form-control" placeholder="Enter Email Address" ng-model="user.email" ng-required="true">		
								</div>

								<div class="form-group">
									<label for="userCountry">Country</label>
									<input class="form-control" placeholder="Residing Country" ng-model="user.country" ng-required="true">
								</div>
							</form>
						</div>

						<div class="modal-footer">
						    <button class="btn btn-primary" ng-click="adduser()" onclick="SuccessMsg()">Add User</button>
							<button class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
						</div>

				</div>
			</div>
		</div>
		<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Country</th>
						<th>Action</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
				
					<tr>
						<td><input class="form-control" ng-model="user.name"></td>
						<td><input class="form-control" ng-model="user.email"></td>
						<td><input class="form-control" ng-model="user.country"></td>
						<td><button class="btn btn-info" ng-click="update()">Update</button></td>
						<td><button class="btn btn-primary" data-target="#adduserModal" data-toggle="modal"> Add New User</button></td>

					</tr>
				
					<tr ng-repeat="user in userlist">
						<td>{{user.name}}</td>
						<td>{{user.email}}</td>
						<td>{{user.country}}</td>
						<td><button class="btn btn-warning" ng-click="edit(user._id)">Edit</button></td>
						<td><button class="btn btn-danger" ng-click="remove(user._id)" onclick="confirmMsg()"> Remove</button></td>
					</tr>
				</tbody>
		</table>
		</script>
	<script>
			function SuccessMsg()
		    {

			    confirm("User is successfully added");
			}

			function confirmMsg() 
			{
			   if(!confirm('Are you sure you want to delete this user?')) return false; 
			}
			function _id(elemStr)
			{
				return document.getElementById(elemStr);
			}
			function doLogin()
			{
				var data = JSON.stringify(
				{
				  "username": _id('username').value,
				  "password": _id('password').value
				});

				var xhr = new XMLHttpRequest();
				xhr.withCredentials = true;

				xhr.addEventListener("readystatechange", function () 
				 {
				  if (this.readyState === 4) {
				    console.log(this.responseText);
				    window.location.href = '/success'
				 }
			});

				xhr.open("POST", "http://localhost:3000/login");
				xhr.setRequestHeader("content-type", "application/json");
				xhr.send(data);
			}
			
	</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
		<script src="controllers/controller.js"></script>
</body>
</html>